room {
	display: flex;
	flex: 1 1 100%;
	align-items: center;
	flex-direction: column;
	margin-top: 90px;

	h2 {
		color: gray;
		margin-top: 10px;
		font-family: 'gubblebumblacknblocky';
		font-style: italic;
	}

	& > .content {
		display: flex;
		flex: 1 1 100%;
		width: 100%;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;

		@include placeholder {
			color: #bbb !important; // important needed for IE11
		}
	}
}