$global-emphasis-color: white;

@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../node_modules/uikit/src/scss/uikit-theme.scss";
@import "../node_modules/octicons/build/octicons.min.css";

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

$xs: 320px;
$sm: 544px;
$md: 768px;
$lg: 992px;
$xlg: 1280px;

@font-face {
    font-family: 'gubblebumblacknblocky';
    src: url('gubblablo-webfont.woff2') format('woff2'),
         url('gubblablo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import './app/app.component.scss';
@import './app/lobby/lobby.component.scss';
@import './app/room/room.component.scss';
@import './app/player/player.component.scss';

html, body {
    height: 100%;
    margin: 0;
}

html {
	position: relative;
	min-height: 100%;
}

h1, h2, h3 {
	font-family: 'gubblebumblacknblocky';
}

.header {
	background: #4b9ae8;
	border-bottom: 1px solid #d5d9de;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90px;
	position: fixed;
	top: 0;

	h1 {
		@media screen and (max-width : $xs) {
			font-size: 1.75rem;
		}

		@media screen and(min-width : $xs + 1) and (max-width : $sm) {
			font-size: 2rem;
		}
	}

	.github {
		width: 1.255rem;
		height: 1.25rem;
		fill: white;
		padding-left: 7px;
	}
}